<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TCGPlayerAddressLabel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TCGPlayerAddressLabel.Properties.Settings>
            <setting name="ReturnAddress" serializeAs="String">
                <value>Microsoft-Midwest District
200 E Randolph Dr Ste 200
Chicago, IL 60601</value>
            </setting>
        </TCGPlayerAddressLabel.Properties.Settings>
    </userSettings>
</configuration>